body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  color: #d10303;
}

header {
  background: #0fc415;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 60px;
  background: #d1ffd1;
}

.hero .btn {
  background: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
}

#product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
